@model CourseProject.Models.CreatePageViewModel
@using Resources
@{
    ViewBag.ModalHeader = Resources.Resource.ModalPageHeader;
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">@ViewBag.ModalHeader</h4>
</div>
<div class="modal-body">
    <form class="create-form"
          id="createForm" method="post" action="/" role="form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Url)
            @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>@Resource.Template</label>
            <div class="row">
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470449020/layouts/layout1.png" name="Template" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Template" value="TwoPart" checked>
                </div>
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470449020/layouts/layout2.png" name="Template" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Template" value="OneTopTwoBottom">
                </div>
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470449020/layouts/layout3.png" name="Template" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Template" value="TwoTopOneBottom">
                </div>
            </div>
        </div>
        <input class="form-control" id="menuType" name="menuType" type="hidden" value="">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="submit" onclick="createPage()">@Resource.CreateSite</button>
</div>

@Scripts.Render("~/Scripts/create-functions.js")
