@model CourseProject.Models.UserSitesViewModel
@using Resources

@foreach (var site in Model.Sites)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => site.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => site.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => site.Url)
        </td>
        <td>
            <a href=@('/' + Model.UserName + "/" + site.Url + "/edit")>@Resource.Edit</a> |
            <a href=@('/' + Model.UserName + "/" + site.Url + "/details")> @Resource.Details </a> |
            <a href=@('/' + Model.UserName + "/" + site.Url + "/delete")>@Resource.Delete</a>
        </td>
    </tr>
}
</table>