@model CourseProject.Models.UserSitesViewModel
@using Resources

@foreach (var item in Model.Sites)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            <a href=@('/' + Model.UserName + "/" + item.Url + "/edit")>@Resource.Edit</a> |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            <a href=@('/' + Model.UserName + "/" + item.Url + "/delete")>@Resource.Delete</a>
        </td>
    </tr>
}
</table>