@using Resources
@model CourseProject.Models.CreateSiteViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form class="form-create col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4"
            method="post" action="~/Sites/Create" role="form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Не прошло", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>@Resource.Tags</label>
            <textarea class="form-control" type="text" name="Tags" rows="3" placeholder="#tag #two_part_tag"></textarea>
        </div>
        <div class="form-group">
            <label>@Resource.Theme</label>
            <div class="row">
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470407055/themes/qV4bIJqo074.jpg" name="Theme" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Theme" value="dark" checked>
                </div>
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470407068/themes/RYA5wR6bKo8.jpg" name="Theme" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Theme" value="white">
                </div>
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470407062/themes/V_gSfLje_7U.jpg" name="Theme" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Theme" value="red">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>@Resource.Template</label>
            <div class="row">
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470449020/layouts/layout1.png" name="Template" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Template" value="TwoPart" checked>
                </div>
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470449020/layouts/layout2.png" name="Template" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Template" value="OneTopTwoBottom">
                </div>
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470449020/layouts/layout3.png" name="Template" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Template" value="TwoTopOneBottom">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>@Resource.NavigationBar</label>
            <select class="form-control" name="Menu">
                <option value="Vertical">@Resource.Vertical</option>
                <option value="Horizontal">@Resource.Horizontal</option>
                <option value="VerticalAndHorizontal">@Resource.VerticalAndHorizontal</option>
                <option value="None">@Resource.None</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-default" value="Create" type="submit">@Resource.Create</button>
        </div>
    </form>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/check-function.js")
}
