@using Resources

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – WebsiteMaker</title>

    <link rel="stylesheet" href="~/Content/themes/base/all.css" />
    <link rel="stylesheet" href="~/Scripts/mediaelement/mediaelementplayer.css" />

    @Styles.Render("~/Content/users-styles")
    @Styles.Render("~/Content/" + (string)ViewBag.Theme + ".css")
    @*<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">*@
</head>
<body>
    @Html.Hidden("Id", (int)ViewBag.Id)
    @if ((bool)ViewBag.horizontalMenu)
            {
                Html.RenderPartial("_HorizontalMenu");
            }
    <div class="main container-fluid">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            @if ((bool)ViewBag.verticalMenu)
            {
                Html.RenderPartial("_VerticalMenu");
            }
        </div>
        <div class="container col-lg-8 col-md-8 col-sm-8 col-xs-9">
            @Html.Partial('_' + (string)ViewBag.Template)
        </div>
        <div class="container" id="toolbar">
            <button type="button" class="btn btn-danger delete">Delete</button>
            <button type="button" class="btn btn-success save">Save</button>

            <img id="toolPictrue" src="http://res.cloudinary.com/website-maker/image/upload/v1471300845/toolbar/s_picture.png" />
            <img id="toolVideo" src="http://res.cloudinary.com/website-maker/image/upload/v1471300845/toolbar/s_video.png" />
            <img id="toolText" src="http://res.cloudinary.com/website-maker/image/upload/v1471300845/toolbar/s_text.png" />
             
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">@DateTime.Now.Year – @Resource.Footer </p>
        </div>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/mediaelement/mediaelement-and-player.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    @Scripts.Render("~/Scripts/editing-script.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
