@using Resources
@using CourseProject.Models.Entities
@model CourseProject.Models.UserSitesViewModel


@{
    ViewBag.Title = Resource.Sites;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Author)
{
    <h2>@Resource.AuthorSites</h2>
}
else
{
    <h2>@Resource.UserSites</h2>
}


<p>
    @Html.ActionLink("Create New", "create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Rating")
        </th>
        <th></th>
    </tr>
    @if (Model.Sites.Count > 0)
    {
        if (Model.Author)
        {
            Html.RenderPartial("SitesList/_Author", Model);
        }
        else
        {
            Html.RenderPartial("SitesList/_User", Model);
        }
    }
    else
    {
        Html.RenderPartial("SitesList/_NoSites", Model);
    }

